* {
  font-family: 'Roboto';
}

.container {
  padding-top: 160px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.todo-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 500px;
  margin: auto;
}

.input-group {
  display: flex;
  justify-content: center;
  height: 50px;
  margin-bottom: 10px;
}

input {
  flex-grow: 1;
  padding: 13px;
  font-size: 16.5px;
  color: #1c1c1c;
  height: 50px;
}

::placeholder {
  color: rgb(56, 56, 56);
}

input:focus {
  border-style: solid;
  outline: none !important;
  border: 1px solid rgb(48, 48, 48);
  box-shadow: 0 0 10px rgb(171, 171, 171);
}

.add-button {
  border-style: none;
  cursor: pointer;
  color: #ffffff;
  background-color: rgb(23, 23, 23);
  font-size: x-large;
  font-weight: bold;
  /* color: white; */
}
button:disabled {
  background-color: gray;
  cursor: default;
}
button {
  border-style: none;
  cursor: pointer;
  height: 100%;
}

.validation-error {
  color: red;
  margin-bottom: 10px;
  font-size: 12px;
}
